<!DOCTYPE html>
<html>
	<head>
		<title>Project</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<link rel="shortcut icon" type="image/png" href="./img/favicon.png" />
		<link rel="stylesheet" media="all" href="css/style.css" />
	</head>
	<body>
		<!-- Include your partials here! for example: @@include('./partials/header.html') -->
		<main class="main">
		</main>
		<script src="js/main.js"></script>
	</body>
</html>
